
/* ==========================================================================
   #FONT
   ========================================================================== */
.font-robo {
  font-family: "Roboto", "Arial", "Helvetica Neue", sans-serif;
}

/* ==========================================================================
   #GRID
   ========================================================================== */
.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.row-space {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.col-2 {
  width: -webkit-calc((100% - 60px) / 2);
  width: -moz-calc((100% - 60px) / 2);
  width: calc((100% - 60px) / 2);
}

@media (max-width: 767px) {
  .col-2 {
    width: 100%;
  }
}

/* ==========================================================================
   #BOX-SIZING
   ========================================================================== */
/**
 * More sensible default box-sizing:
 * css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
 */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/* ==========================================================================
   #RESET
   ========================================================================== */
/**
 * A very simple reset that sits on top of Normalize.css.
 */
body,
h1, h2, h3, h4, h5, h6,
blockquote, p, pre,
dl, dd, ol, ul,
figure,
hr,
fieldset, legend {
  margin: 0;
  padding: 0;
}

/**
 * Remove trailing margins from nested lists.
 */
li > ol,
li > ul {
  margin-bottom: 0;
}

/**
 * Remove default table spacing.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**
 * 1. Reset Chrome and Firefox behaviour which sets a `min-width: min-content;`
 *    on fieldsets.
 */
fieldset {
  min-width: 0;
  /* [1] */
  border: 0;
}

button {
  outline: none;
  background: none;
  border: none;
}

/* ==========================================================================
   #PAGE WRAPPER
   ========================================================================== */
.page-wrapper {
  min-height: 100vh;
}

body {
  font-family: "Roboto", "Arial", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 14px;
}


/* ==========================================================================
   #BACKGROUND
   ========================================================================== */


/* ==========================================================================
   #SPACING
   ========================================================================== */
.p-t-100 {
  padding-top: 100px;
}

.p-t-20 {
  text-align: center;
  padding-top: 20px;
}

.p-b-100 {
  padding-bottom: 100px;
}

/* ==========================================================================
   #WRAPPER
   ========================================================================== */
.wrapper {
  margin: 0 auto;
}

.wrapper--w680 {
  max-width: 750px;
}

/* ==========================================================================
   #BUTTON
   ========================================================================== */
.btn {
  line-height: 40px;
  display: inline-block;
  padding: 0 25px;
  cursor: pointer;
  font-family: "Roboto", "Arial", "Helvetica Neue", sans-serif;
  color: #fff;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease;
  font-size: 14px;
  font-weight: 700;
}

.btn--radius {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.btn--green {
  width: 4cm;
  background: #f69e41;
}

.suivant {
  margin-left: 12.2cm;
  width: 3cm;
}

.btn--green:hover {
  background: #fb9d38;
}

/* ==========================================================================
   #DATE PICKER
   ========================================================================== */
td.active {
  background-color: #2c6ed5;
}

input[type="date"] {
  padding: 14px;
}

.table-condensed td, .table-condensed th {
  font-size: 14px;
  font-family: "Roboto", "Arial", "Helvetica Neue", sans-serif;
  font-weight: 400;
}

.daterangepicker td {
  width: 40px;
  height: 30px;
}

.daterangepicker {
  border: none;
  -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  display: none;
  border: 1px solid #e0e0e0;
  margin-top: 5px;
}

.daterangepicker::after, .daterangepicker::before {
  display: none;
}

.daterangepicker thead tr th {
  padding: 10px 0;
}

.daterangepicker .table-condensed th select {
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 14px;
  padding: 5px;
  outline: none;
}

/* ==========================================================================
   #FORM
   ========================================================================== */
input {
  outline: none;
  margin: 0;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  width: 100%;
  font-size: 14px;
  font-family: inherit;
}

.input-group {
  position: relative;
  margin-bottom: 30px;
  border-bottom: 2px solid #ccc;
}

.input-icon {
  position: absolute;
  font-size: 18px;
  color: #ccc;
  right: 8px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;
}

.input--style-1 {
  padding: 9px 0;
  color: #666;
}

.input--style-1::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #555;
}

.input--style-1:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #555;
  opacity: 1;
}

.input--style-1::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #555;
  opacity: 1;
}

.input--style-1:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #555;
}

.input--style-1:-ms-input-placeholder {
  /* Microsoft Edge */
  color: #555;
}

/* ==========================================================================
   #SELECT2
   ========================================================================== */
.select--no-search .select2-search {
  display: none !important;
}

.rs-select2 .select2-container {
  width: 100% !important;
  outline: none;
}

.rs-select2 .select2-container .select2-selection--single {
  outline: none;
  border: none;
  height: 34px;
}

.rs-select2 .select2-container .select2-selection--single .select2-selection__rendered {
  line-height: 34px;
  padding-left: 0;
  color: #555;
}

.rs-select2 .select2-container .select2-selection--single .select2-selection__arrow {
  height: 32px;
  right: 4px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.rs-select2 .select2-container .select2-selection--single .select2-selection__arrow b {
  display: none;
}

.rs-select2 .select2-container .select2-selection--single .select2-selection__arrow:after {
  font-family: "Material-Design-Iconic-Font";
  content: '\f2f9';
  font-size: 18px;
  color: #ccc;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.rs-select2 .select2-container.select2-container--open .select2-selection--single .select2-selection__arrow::after {
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.select2-container--open .select2-dropdown--below {
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  border: 1px solid #e0e0e0;
  margin-top: 5px;
  overflow: hidden;
}

/* ==========================================================================
   #TITLE
   ========================================================================== */
.title {
  color: #f69e41;
  text-align: center;
  margin-bottom: 37px;
}

/* ==========================================================================
   #CARD
   ========================================================================== */
.card {
  overflow: hidden;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #fff;
}

.card-1 {
  -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
}

.card-1 .card-heading {
  text-align: right;
  margin: 15px 30px 0px 0px;
}

.card-1 .card-heading a{
  text-decoration: none;
  color: #f69e41;
}


.card-1 .card-body {
  padding: 0 90px;
  padding-top: 55px;
  padding-bottom: 65px;
}

@media (max-width: 767px) {
  .card-1 .card-body {
    padding: 0 40px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.card-body .link-insc {
  text-decoration: none;
  color: rgb(59, 58, 58);
}

.body_page .body_list .body_title {
  text-align: center;
  margin: 65px 0px 65px 0px;
}

.body_page .body_list button:hover {
  color: white;
  transition: 1s;
}

.body_page .body_list .button-ajout{
  margin-top: 20px;
  margin-bottom: 20px;
  width: 4cm;
  height: 2.3em;
  border: none;
  border-radius: 20px;
  color: white;
  background: green;
}

.body_page .body_list .button-ajout:hover{
  background: rgb(12, 180, 12);
}

.body_page .body_list i {
  font-size: 17px;
  margin-left: 20px;
}

.fa-edit::before {
  color: rgb(59, 58, 58);
}

.fa-trash-alt::before {
  color: red;
}

.body_page .body_list .button-see-journal{
  margin-top: 20px;
  margin-bottom: 20px;
  width: 4cm;
  height: 2.3em;
  border: none;
  border-radius: 20px;
  color: white;
  background: rgba(27, 102, 223, 0.991);
}

.body_page .body_list .button-see-journal:hover{
  background: blue;
}

.body_page .body_list .body_choise_mois {
  margin-left: 13cm;
  margin-bottom: 65px;
}

.body_page .body_list .button-choise-mois {
  margin-bottom: 20px;
  width: 4cm;
  height: 2.3em;
  border: none;
  color: white;
  background: rgb(59, 58, 58);
}

.body_page .body_button_grandLivre {
  text-align: center;
  margin-top: 60px;
}

.body_page .body_button_grandLivre .button-grandlivre {
  margin-top: 10px;
  width: 4cm;
  height: 2.3em;
  border: none;
  color: white;
}

.body_page .body_list .info_facture {
  text-align: center;
  margin-top: 65px;
}

.body_page .body_list .info_facture .contact {
  margin-top: 2%;
}

.body_page .body_list .info_facture .objet_facture {
  margin-bottom: 2%;
}

.body_page .body_list .info_facture .objet_facture p{
  margin-top: 1%;
  margin-bottom: 1%;
}

.body_page .body_list .info_facture .contact .hr {
  width: 50%;
  margin-left: 26%;
  margin-bottom: 2%;
  margin-top: 2%;
}

.body_page .body_list .info_facture .objet_facture h4 {
  display: flex;
  padding-left: 14.5cm
}

.body_page .body_list .info_facture .objet_facture .info_objet_facture {
  text-align: initial;
}

.body_page .body_list .info_facture .objet_facture .input-date-facture {
  width: 20%;
  margin-left: 10px;
}

.body_page .body_list .info_facture .objet_facture .info_objet_facture .client {
  display: -webkit-inline-box;
  width: 35%;
}

.body_page .body_list .info_facture .objet_facture .info_objet_facture .ref-bc {
  display: -webkit-inline-box;
  width: 35%;
}

.body_page .body_list .info_facture .objet_facture .info_objet_facture .ref-bc .input-group{
  margin-left: 2rem;
}

.body_page .body_list .info_facture .objet_facture .info_objet_facture .objet {
  display: -webkit-inline-box;
  width: 35%;
}

.body_page .body_list .info_facture .objet_facture .info_objet_facture .objet .input-group{
  margin-left: 2.75rem;
}

.body_page .Total {
  text-align: right;
    margin-top: 50px;
    padding-right: 5.2cm;
}

.body_page .button-list {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1.5cm;
}

.body_page .button-list button {
  width: 8rem;
  height: 2rem;
  color: white;
}

.body_page .button-list a {
  color: white;
}

.body_page .button-list .button-annuler {
  background-color: red;
}

.body_page .button-list .button-annuler:hover {
  background-color: rgba(255, 0, 0, 0.786);
}

.body_page .button-list .button-modifier {
  background-color: blue;
}

.body_page .button-list .button-modifier:hover {
  background-color: rgba(0, 0, 255, 0.786);
}

.body_page .button-list .button-valider {
  background-color: green;
}

.body_page .button-list .button-valider:hover {
  background-color: rgba(0, 128, 0, 0.786);
}

.body_page .body_list .list-button-search {
  margin-bottom: 1.5cm;
  display: flex;
}

.body_page .body_list .list-button-search .ajout-facture button {
  width: 10rem;
  height: 2rem;
  margin-left: 3.5rem;
  background-color: green;
  color: white;
}

.body_page .body_list .list-button-search .ajout-facture i {
  margin: 0;
}

.body_page .body_list .list-button-search .search {
  display: flex;
}

.body_page .body_list .list-button-search .search .input-group{
  width: 10rem;
}

.body_page .body_list .list-button-search .search .button-search button{
  width: 5rem;
  height: 2rem;
  margin-top: 9px;
  margin-left: 2rem;
  background-color: rgb(59, 58, 58);
}

.body_page .body_list .list-button-search .search .button-search i{
  color: white;
  margin: 0;
}