table {
	width: 100%;
	border-collapse: collapse;
  }
  th, td {
	padding: 8px;
	text-align: left;
	border-bottom: 1px solid #ddd;
  }
  th {
	background-color: #f2f2f2;
  }

  .alignement-chiffre {
	text-align: right;
  }

  .btn-modifier, .btn-supprimer {
	padding: 5px 10px;
	background-color: #f69e41;
	color: white;
	border: none;
	cursor: pointer;
	margin-right: 5px;
  }

  .btn-ajouter {
	width: 4cm;
	padding: 5px 10px;
	margin: 0px 0px 40px 0px;
	background-color: #f69e41;
	color: white;
	border: none;
	cursor: pointer;
	margin-right: 5px;
  }

  .btn-modifier:hover, .btn-supprimer:hover, .btn-ajouter:hover {
	background-color: #fb9d38;
  }

  .place-button {
	text-align: center;
  }

  .link-ajouter {
	text-decoration: none;
	color: #fff;
  }